<nav class="navbar navbar-expand-md navbar-dark fixed-top header-col">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
          <img style="height: 60px;" src="../../assets/formula1-1.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active"><b>Home</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>